In [4]:
df1 = pd.DataFrame([[1,2,3,4],[1,2,3,4]])

In [6]:
df2 = pd.DataFrame([[1,2,3,4],[1,2,3,4]])

In [17]:
df1=df1.append(df2)

In [10]:
df3 = pd.DataFrame([[5,6,7,8],[5,6,7,8],[5,6,7,8],[5,6,7,8]])

In [18]:
df1.join(df3)

   0  1  2  3  4  5  6  7
0  1  2  3  4  5  6  7  8
0  1  2  3  4  5  6  7  8
1  1  2  3  4  5  6  7  8
1  1  2  3  4  5  6  7  8

In [3]:
df = pd.read_csv('movies_with_url2.csv' , encoding='cp1252')

In [6]:
base_movie = df[df['id']==559]

In [17]:
base_movie['cast'].str.replace('[' ,'').str.replace(']' ,'').str.replace("'" ,'').values[0]

'Tobe'

In [21]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'budget', 'genres', 'homepage', 'id',
       'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title_x', 'vote_average', 'vote_count', 'movie_id',
       'title_y', 'cast', 'director', 'genres_bin', 'cast_bin', 'director_bin',
       'words_bin', 'url'],
      dtype='object')

In [28]:
df_temp=df.loc[:,['original_title' ,'release_date' ,  'vote_average' ,'director','cast' ,  'genres_bin' ,'cast_bin' , 'director_bin' , 'url' ]]

In [31]:
df_temp = df.loc[:,['words_bin']]

In [30]:
df_temp.to_csv('temp_data.csv' , header =['original_title' ,'release_date' ,  'vote_average' ,'director','cast' ,  'genres_bin' ,'cast_bin' , 'director_bin' , 'url' ] )

In [34]:
df_temp1 = df_temp.iloc[0:2500,:]
df_temp2 = df_temp.iloc[2500: ,:]

In [35]:
df_temp1.to_csv("bin_part1.csv" , header = ["word_bin"])

In [36]:
df_temp2.to_csv("bin_part2.csv" , header = ["word_bin"])

In [37]:
file1 = pd.read_csv("bin_part1.csv" , encoding = 'cp1252')

In [39]:
file2=pd.read_csv("bin_part2.csv" , encoding = 'cp1252')

In [40]:
file1.append(file2)

      Unnamed: 0                                           word_bin
0              0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1              1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2              2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3              3  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4              4  [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
5              5  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
6              6  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7              7  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
8              8  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
9              9  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
10            10  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
11            11  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
12            12  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
13            13  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
14            14  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
15            15  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
16            16  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
17            17  [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
18            18  [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
19            19  [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
20            20  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
21            21  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
22            22  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
23            23  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
24            24  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
25            25  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
26            26  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
27            27  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
28            28  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
29            29  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...          ...                                                ...
2115        4615  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2116        4616  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2117        4617  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2118        4618  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...
2119        4619  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2120        4620  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2121        4621  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2122        4622  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2123        4623  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2124        4624  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2125        4625  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2126        4626  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2127        4627  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2128        4628  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2129        4629  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2130        4630  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2131        4631  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2132        4632  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2133        4633  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2134        4634  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2135        4635  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2136        4636  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2137        4637  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2138        4638  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2139        4639  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2140        4640  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2141        4641  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2142        4642  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2143        4643  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2144        4644  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[4645 rows x 2 columns]

In [1]:
import pandas as pd

In [8]:
movies = pd.read_csv("temp_data.csv" , encoding = 'cp1252')

In [9]:
len(movies)

4645

In [19]:
bin_part1 = pd.read_csv("bin_part1.csv" , encoding = 'cp1252' )

In [20]:
bin_part1 = bin_part1.iloc[: , 1:]

In [21]:
bin_part2 = pd.read_csv("bin_part2.csv" , encoding = 'cp1252')
bin_part2 = bin_part2.iloc[: , 1:]

In [22]:
bin_part1  = bin_part1.append(bin_part2)

In [23]:
movies = movies.join(bin_part1)

In [29]:
type(movies.word_bin.iloc[0])

str

In [30]:
movies['word_bin'] = movies['word_bin'].str.replace('[','').str.replace(']','')
movies['word_bin'] = movies['word_bin'].str.split(', ')

In [32]:
type(movies.word_bin.iloc[0]0)

str